<h1>{{heading}}</h1>
<div ng-if="vm.pauseLoading">
    <h1>Waiting for 2 seconds to lazy load the maps API via map-lazy-load</h1>
</div>
<div map-lazy-load="https://maps.google.com/maps/api/js"
     map-lazy-load-params="{{vm.googleMapsUrl}}" >
    <ng-map default-style="true" center="41,-87" zoom="3">

        <info-window id="foo">
            <div ng-non-bindable="">
                Lat/Lng: {{anchor.getPosition().lat()}}/
                {{anchor.getPosition().lng()}}<br/>
                <ul>
                    <li ng-repeat='item in vm.store.items'>{{item}}</li>
                </ul>
            </div>
        </info-window>

        <marker ng-repeat="(id, store) in vm.stores" id="{{id}}"
                position="{{store.position}}"
                on-click="vm.showStore(event, id)"
        ></marker>

        <info-window id="bar">
            <div ng-non-bindable="">
                Lat: {{anchor.getPosition().lat()}}<br/>
                Lng: {{anchor.getPosition().lng()}}<br/>
            </div>
        </info-window>

        <marker position="41, -79" on-click="vm.map.showInfoWindow('bar')">
        </marker>
    </ng-map>
</div>
