.content_info {
    position: relative;
    width: 100%;
}

/*-------------------------------------------------------------------------------------------------buy now--------*/

.box-action {
    background-color: #27292b;
    text-align: center;
}
.box-action .box-action-head {
    float: left;
    padding: 10px;
    position: relative;
    width: 75%;
    margin: 0;
}

.box-action .box-action-head::before {
    border-bottom: 30px solid transparent;
    border-left: 30px solid #27292b;
    border-top: 30px solid transparent;
    content: "";
    margin-top: 8px;
    position: absolute;
    right: -30px;
    z-index: 1;
}

.box-action p {
    color: #fff;
    font-size: 28px;
    font-weight: 200;
    margin: 0;
    padding: 18px 0;
}

.box-action .button {
    float: right;
    height: 100%;
    overflow: hidden;
    padding: 30px 0;
    position: relative;
    text-align: center;
    width: 25%;
}

.box-action .button a {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
}

/*----------------------------------------------------------------------------------------------services-----------*/


.icon-section {
    color: #f8f8f8;
    font-size: 250px;
    position: absolute;
    z-index: 0;
    top: 12%;
    right: 3%;
}

.titles-heading {
    position: relative;
    text-align: center;
}

.titles-heading .line {
    background-color: #dedede !important;
    height: 1px;
    left: 10%;
    position: absolute;
    top: 48%;
    width: 80%;
    z-index: 1;
}

.titles-heading h1 {
    background-color: #fff;
    font-size: 34px;
    margin: 0 auto;
    position: relative;
    width: 28%;
    z-index: 2;
}

.titles-heading h1 span {
    color: #777;
    display: block;
    font-size: 14px;
}

.item-service {
    margin-bottom: 50px;
    transition: all 0.3s ease 0s;
}

.head-service {
    margin-bottom: 15px;
}

.head-service i, .feature-element li .cirle-feature {
    border: 3px solid #29c0d4;
}
.head-service i {
    border-radius: 50%;
    font-size: 16px;
    height: 50px;
    padding-top: 14px;
    text-align: center;
    width: 50px;
}
.head-service h5 {
    font-style: italic;
    line-height: 20px;
    color: #29c0d4 !important;
}
.head-service h4, .head-service h5 {
    margin: 0;
    padding: 0;
}

.item-service p {
    margin: 0 auto;
    max-width: 500px;

}
/*---------------------------------------------------------------------------------------------------Viewers------*/

.viewers{
    background: #fff;
    text-align: center;
}
.title-downloads {
    font-weight: 400;
    position: relative;
    z-index: 5;
}

.title-downloads .logo-clients {
    background-color: #fff;
    border-radius: 0;
    color: #131313;
    padding: 0;
}

.responsive-numbers {
    background-color: #fff;
}

.title-downloads .responsive-numbers span {
    background-color: #131313;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
}

.subtitle-downloads {
    margin-top: 30px;
    position: relative;
    z-index: 5;
}

.subtitle-downloads .line {
    background-color: #dedede !important;
    height: 1px;
    left: 10%;
    position: absolute;
    top: 48%;
    width: 80%;
    z-index: 1;
}

.subtitle-downloads h4 {
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    width: 28%;
    z-index: 2;
}

.image-clients-downloads {
    display: table;
    margin: 25px auto 0;
}

.image-clients-downloads li {
    border: 1px solid #ddd;
    display: inline-block;
    margin: auto 5px;
    transition: all 0.3s ease 0s;
    width: 60px;
}

.image-clients-downloads li img {
    width: 100%;
}
/*---------------------------------------------------------------------------------------------parallax------------*/
.parallax {
    position: absolute;
    width: 100%;
    z-index: 0;
    left: 0;
    height: 100%;
    transition: none 0s ease 0s ;
    background: rgba(0, 0, 0, 0) url("../images/abstract-766a.jpg") repeat fixed center;
}

.opacy_bg_02 {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    color: #dedede !important;
    height: auto;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.boxes-info {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 20px;
    text-align: left;
}

.boxes-info h3 {
    color: #333 !important;
    font-weight: 800;
}

.boxes-info h3 i {
    color: #666;
    float: right;
    font-size: 40px;
    margin-top: -5px;
}

.boxes-info h5 {
    border-bottom: 3px solid #29c0d4;
    border-top: 3px solid #29c0d4;
}

.boxes-info p {
    color: #777 !important;
}

.boxes-info h5 {
    font-weight: 800;
    margin-bottom: 20px;
    padding: 10px 0;
    color: #29c0d4 !important;
}

/*------------------------------------------------------------------------------------------------html---------*/

.pattern-important-info {
    background: #29c0d4 url("../images/tdsfools.png") repeat scroll center !important;
}

.important-info h1 {
    font-weight: bold;
    padding: 0;
}

.important-info p, .important-info h1 span {
    color: #fff;
}

.important-info .lead {
    margin: 30px auto;
}
.important-info p, .important-info h1 span {
    color: #fff;
}

.important-info .btn {
    background-color: #131313;
    color: #fff;
    font-size: 14px;
}
a.btn {
    margin-right: 20px;
}

.important-info i {
    color: #fff;
    float: right;
    font-size: 16em;
    margin-top: -10px;
}

/*--------------------------------------------------------------------------------------------------------Clients-------*/
.sponsors {
    position: relative;
    text-align: center;
}

#sponsors {
    border-bottom: 1px solid #444;
    margin: 40px 0 100px;
    padding-bottom: 10px;
}

h2.title-resalt {
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}
.owl-carousel .item {
    background: #29c0d4 none repeat scroll 0 0;
    height: 10rem;
    padding: 1rem;
}

.sponsors .owl-prev, .sponsors .owl-next {
    bottom: -70px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    opacity: 0.9;
    padding: 6px 12px;
    position: absolute;
    background: #29c0d4;
}

.sponsors .owl-prev {
    left: 45%;
}

.sponsors .owl-next {
    right: 45%;
}

.sponsors .circle {
    background-color: #5b5b5b;
    border-radius: 50%;
    bottom: -35px;
    left: 48%;
    padding: 20px 23px;
    position: absolute;
    z-index: 99999;
}


/*------------------------------------------------------------------------------responsive*/

@media screen and (max-width: 1199px) and (max-device-width: 1199px){
    .boxes-info h3 i {
        font-size: 130%;
    }
    .boxes-info h3{
        font-size: 130%;
    }
}

@media screen and (max-width: 1024px) and (max-device-width: 1024px){
    .boxes-info h3 i {
        font-size: 120%;
    }
    .boxes-info h3{
        font-size: 120%;
    }
    .title-downloads .responsive-numbers span {
        padding: 8px 13px;
    }
}

@media screen and (max-width: 960px) and (max-device-width: 1024px){

    .box-action p, .box-action .button a {
        font-size: 23px;
    }
    .head-service h4{
        padding-top: 5px;
    }

    .boxes-info {
       margin-top: 30px;
    }
    .important-info .lead {
        margin: 20px auto;
        font-size: 18px;
    }
    .important-info i {
        font-size: 15em;
        margin-top: 10px;
    }
    h1.title-downloads{
        font-size: 22px;
        line-height: 25px;
    }

    .title-downloads .responsive-numbers span {
        padding: 5px 8px;
    }
}
@media screen and (max-width: 736px) and (max-device-width: 736px){
    .box-action p, .box-action .button a {
        font-size: 20px;
    }
}

@media screen and (max-width: 568px) and (min-width: 415px) {

    .box-action .box-action-head {
        width: 70%;
    }

    .box-action .button {
        width: 30%;
        padding: 30px 0 30px 10px;
    }

    .box-action p {
        padding: 10px 0;
    }

    .sponsors .circle {
        left: 45%;
    }
    .important-info h1 {
        font-size: 30px;
    }

    .important-info .lead {
        font-size: 18px;
    }

    .important-info i {
        font-size: 10em;
        margin-top: 60px;
    }

    .titles-heading h1 {
        width: 40%;
    }

    .head-service i {
        height: 40px;
        padding-top: 10px;
        width: 40px;
    }

    .head-service h4 {
        font-size: 17px;
    }
}

@media screen and (max-width: 414px) and (max-device-width: 414px){

    .box-action p{
        font-size: 18px;
        padding: 10px 0;
    }
    .box-action .box-action-head {
        float: none;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .box-action .button {
        float: none;
        overflow: hidden;
        padding: 0;
        text-align: center;
        margin: 0 auto 10px auto;
        width: 30%;
    }
    .box-action .button a{
        font-size: 10px;
        padding: 5px 0;

    }

    .box-action .box-action-head::before {
        border-bottom: none;
        border-left: none;
        border-top: none;
        content: "";
        margin:0;
        position: absolute;
        right: -30px;
        z-index: 1;
    }
    .titles-heading h1 {
        font-size: 27px;
        width: 50%;
    }
    .border-right {
        padding-right: 0;
    }
    .item-service {
        padding: 30px;
        margin-bottom: 0;
    }

    .responsive-numbers {
        background-color: #fff;
        display: block;
        padding: 20px 0;
    }

    .subtitle-downloads h4 {
        width: 50%;
    }

    .image-clients-downloads li {
        margin: 5px 5px;
    }
    .sponsors .circle {
        left: 42%;
    }

    .important-info h1, .important-info .lead {
       text-align: center;
    }

    .important-info .btn {
        display: block;
       margin: 0 auto;
    }

    .important-info .html5{
        display: none;
    }
}

@media screen and (max-width: 320px) and (max-device-width: 320px){


    .titles-heading h1 {
        font-size: 25px;
        width: 100%;
    }
    .border-right {
        padding-right: 0;
    }
    .item-service {
        padding: 10px;
        margin-bottom: 0;
    }

    .head-service i {
        height: 40px;
        padding-top: 10px;
        width: 40px;
    }

    .important-info h1{
        font-size: 30px;
    }
}


