.sticky-wrapper{
    z-index: 9999 !important;
}

header {
    border-bottom: 4px solid #29c0d4;
    /*border-bottom: 4px solid #ff9966;*/
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    left: 0;
    padding: 22px 0;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 9998;
}

.header-menu {
    float: right;
    margin: 0;
    padding-top: 7px;
}

#menuResponsive{
    display: none;
}

.logo img {
    max-width: 100%;
}

.header-menu > li {
    display: inline-block;
    line-height: 20px;
    margin: 0 40px 0 0;
    position: relative;
}

.header-menu > li > a {
    color: #131313;
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.header-menu .sub-menu {
    visibility: hidden;
}

.sub-menu ul{
    border-bottom: 3px solid #29c0d4;
    /*border-bottom: 3px solid #ff9966;*/
    list-style: outside none none;
    position: absolute;
    margin-top: 25px;
    width: 160px;
}

.header-menu li li{
    border-bottom: 1px solid #eee;
    float: none;
    position: relative;
}

.header-menu li li a {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #131313;
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 12px 15px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.header-menu li:hover .sub-menu {
    visibility: visible;
    -webkit-transition: visibility .2s ease-in-out;
    -moz-transition: visibility .2s ease-in-out;
    -o-transition: visibility .2s ease-in-out;
    -ms-transition: visibility .2s ease-in-out;
    transition: visibility .2s ease-in-out;

}

/*------------------------------------------------------Fixed*/
.fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    max-height: 50px !important;
}

/*--------------------------------------------------------------------responsive*/

@media screen and (max-width: 736px) and (max-device-width: 736px){

    .header-menu {
        float: none;
        width: 100%;
        padding: 10px;
    }

    #menuResponsive{
        display: block;
    }
    .header-menu > li {
        display: block;
        line-height: 40px;
        margin: 0;
        padding: 2px;
        width: 100%;
        position: inherit;
        border-bottom: 3px solid #29c0d4;
    }

    .header-menu, .header-menu .sub-menu {
        display: none;
    }

    .sub-menu ul{
        border-bottom:none;
        /*border-bottom: 3px solid #ff9966;*/
        position: relative;
        margin: 0 0 10px 0;
        width: 100%;
        transition: all 1s ease-in-out;
    }

    .header-menu li li a {
        display: block;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        overflow: hidden;
        padding: 12px 15px;
        position: relative;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }

    .header-menu li:hover .sub-menu {
        display: block;
        animation: flipdown 1s ease both;
    }

    @keyframes flipdown {
        0% {
            opacity: 0;
            transform-origin: top center;
            transform: rotateX(-90deg);
        }
        5% {
            opacity: 1;
        }
        80% {
            transform: rotateX(8deg);
        }
        83% {
            transform: rotateX(6deg);
        }
        92% {
            transform: rotateX(-3deg);
        }
        100% {
            transform-origin: top center;
            transform: rotateX(0deg);
        }
    }


}

@media screen and (max-width: 414px) and (max-device-width: 414px){

    .header-menu {
        float: none;
        width: 100%;
        padding: 10px;
    }

    #menuResponsive{
        display: block;
    }
    .header-menu > li {
        display: block;
        line-height: 40px;
        margin: 0;
        padding: 2px;
        width: 100%;
        position: inherit;
        border-bottom: 3px solid #29c0d4;
    }

    .header-menu, .header-menu .sub-menu {
        display: none;
    }

    .sub-menu ul{
        border-bottom:none;
        /*border-bottom: 3px solid #ff9966;*/
        position: relative;
        margin: 0 0 10px 0;
        width: 100%;
        transition: all 1s ease-in-out;
    }

    .header-menu li li a {
        display: block;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        overflow: hidden;
        padding: 12px 15px;
        position: relative;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }

    .header-menu li:hover .sub-menu {
        display: block;
        animation: flipdown 1s ease both;
    }

    @keyframes flipdown {
        0% {
            opacity: 0;
            transform-origin: top center;
            transform: rotateX(-90deg);
        }
        5% {
            opacity: 1;
        }
        80% {
            transform: rotateX(8deg);
        }
        83% {
            transform: rotateX(6deg);
        }
        92% {
            transform: rotateX(-3deg);
        }
        100% {
            transform-origin: top center;
            transform: rotateX(0deg);
        }
    }


}