<header-bar></header-bar>
<section id="main" data-layout="layout-1">
    <side-bar></side-bar>
    <section id="content" class="order-container">
        <div class="container">
            <div class="block-header">
                <h2>Dashboard</h2>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <div class="card-body card-padding">
                            <p class="text-center m-b-10 m-t-10 f-60"><i class="zmdi zmdi-edit"></i></p>
                            <p class="text-center m-b-10 m-t-10 f-15">New Order</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <div class="card-body card-padding">
                            <p class="text-center m-b-10 m-t-10 f-60"><i class="zmdi zmdi-collection-text"></i></p>
                            <p class="text-center m-b-10 m-t-10 f-15">All Notifications</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="card">
                        <div class="card-body card-padding">
                            <p class="text-center m-b-10 m-t-10 f-60"><i class="zmdi zmdi-check-all"></i></p>

                            <p class="text-center m-b-10 m-t-10 f-15">All Orders</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<footer-bar></footer-bar>
<loader show="vm.showLoader"></loader>

