<section class="short-activity-header" ng-show="shortHeader">
    <div class="container">
        <div class="row padding-top-30">
            <!-- Item service-->
            <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="data in shortActivityHeader">
                <div class="activity border-right">
                    <div class="row activity-head">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <i class="{{data.fa}}"></i>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-10">
                            <h5>{{data.h5}}</h5>
                        </div>
                    </div>
                    <p>{{data.p}}</p>
                </div>
            </div>
            <!-- End Item service-->

            <!-- Login-->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h4>Client Login</h4>

                <form>
                    <input type="email" required="" placeholder="Username">
                    <input type="password" required="" placeholder="Password">
                    <input type="submit" value="sign in" class="btn btn-primary skin-blue">
                    <span>Or</span>
                    <input type="submit" value="Register" class="btn btn-primary skin-blue">
                </form>
            </div>
            <!-- ENd Login-->

            <span class="close-short-header skin-blue" ng-click="shortHeader = false"><i
                    class="fa fa-minus"></i></span>
        </div>
    </div>
</section>
<span class="open-short-header skin-blue" ng-click="shortHeader = true" ng-hide="shortHeader"><i
        class="fa fa-plus"></i></span>
<div class="line skin-blue"></div>
<section class="short-info-header">
    <div class="container">
        <ul>
            <li><i class="fa fa-headphones"></i> 01800034567</li>
            <li><i class="fa fa-comment"></i> <a href="#">Live chat</a></li>
            <li>
                <ul>
                    <li class="dropdown">
                        <i class="fa fa-globe"></i>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Language<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><!--<img alt="" src="img/language/spanish.png">-->Spanish</a></li>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Frances</a></li>
                            <li><a href="#">Portuguese</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<div id="sticky-wrapper" class="sticky-wrapper">
    <header>
        <!-- Container-->
        <div class="container">
            <!-- Row-->
            <div class="row">
                <!-- Logo-->
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <a title="Return Home" href="index.html">
                            <img class="logo_img" alt="Logo" src="css/skins/blue/logo.png">
                        </a>
                        <a href="" class="pull-right" id="menuResponsive"><i class="fa fa-bars fa-2x"></i></a>

                    </div>
                </div>
                <!-- End Logo-->

                <!-- Nav-->
                <nav class="col-md-9 col-sm-9">

                    <!-- Menu-->
                    <ul class="header-menu">
                        <li ng-repeat="data in menubar">
                            <a href="{{data.link}}">{{data.label}} <i class="fa fa-angle-down" ng-if="data.sub"></i></a>
                            <div class="sub-menu" ng-if="data.sub">
                                <ul>
                                    <li ng-repeat="subData in data.sub"><a href="{{subData.link}}">{{subData.label}}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!-- End Menu-->
                </nav>
                <!-- End Nav-->
            </div>
            <!-- End Row-->
        </div>
        <!-- End Container-->
    </header>
</div>
